#site-nav{
    height: 7vh;
    background-color: rgb(50, 51, 158);
    margin: 8px 8px 0px 8px;
    display: flex;
    border: solid;
    border-width: 1px;
    border-color: rgb(97, 95, 95);
    justify-content: space-between;
}

#virus-logo{
    display: flex;
}

#site-nav-header{
  color: rgb(238, 231, 231);
}

#links{
    display: flex;
}