h4{
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

p{
    color:rgb(161, 161, 161);
    font-size: 24px;
    padding: 2px;
}


.country-div{
    padding: 5px;
}

.country-header{
    display: flex;
    justify-content: space-between;
}

.country-p{
    font-weight: bold;
    font-size: 24px;
    color: rgb(226, 223, 223);
    padding: 2px;
}

.country-p:hover{
    color: rgb(180, 174, 174);
    cursor: pointer;
}

.totals-p{
    padding: 5px;
}

.today-p{
    padding: 5px;
}