#login-form-container{
    height: 100vh;
    margin-top:15%;
}

#login-header{
    text-align: center;
    margin:30px 30px 15px 30px;
    color: rgb(107, 104, 104); 
    font-family: sans-serif;
}


.login-form{
    background-color: rgb(107, 104, 104); 
    width: 30%;
    margin: auto;
    font-size: 1.5em;
    padding: 20px;

}


.login-inputs{
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}



.login-inputs input {
    height: 3em;
    width: 80%;
    margin: auto;
    border: 3px solid #ccc;
}

.input-header{
    margin: auto;
}


.button-div{
    display: flex;
    justify-content: center;
}

.login-button {
    display: inline-block;
    padding:0.35em 1.2em;
    background-color: rgb(163, 162, 162);
    margin:1em;
    font-weight:300;
    height: 3em;
    width: 130px;
    box-shadow: none;
    border-radius: 5%;
    border:none;
    border-style: solid;
    border-color: rgb(70, 69, 69);    
}

@media all and (max-width: 600px) {
    .login-form{
        padding:20;
        width:70%;
    }
    p{
        margin:0px;
    }
    .login-inputs{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-inputs input{
        margin: 6px;
        height:2em;
        
    }
}